In [ ]:
%pip install python-dotenv requests tqdm pandas

In [48]:
%load_ext dotenv
%reload_ext dotenv
%dotenv

import os
AOC_SESSION = os.getenv("AOC_SESSION", default="")

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [67]:
import requests
import datetime

def get_leaderboard(year):
    print(f"Downloading {year} leaderboard")
    url = f"https://adventofcode.com/{year}/leaderboard/private/view/635254.json"
    return requests.get(url, cookies={"session": AOC_SESSION}).json()

years = range(2022, datetime.datetime.now().year + 1)
leaderboards = [get_leaderboard(year) for year in years]

Downloading 2022 leaderboard
Downloading 2023 leaderboard
Downloading 2024 leaderboard
Downloading 2025 leaderboard

In [68]:
members = {}
for leaderboard in leaderboards:
    for member in leaderboard["members"].values():
        name = member.get("name") or f"(anonymous user #{member['id']})"
        if name not in members:
            members[name] = {"local_score": 0, "stars": 0}
        members[name]["local_score"] += member["local_score"]
        members[name]["stars"] += member["stars"]

In [69]:
# show members with 0 stars
for member, attr in members.items():
    if attr["stars"] == 0:
        print(member)

In [70]:
len(members)

41

In [72]:
import pandas as pd

df = pd.DataFrame.from_dict(members, orient='index', columns=["local_score", "stars"])
df.sort_values(by="local_score", ascending=False, inplace=True)
df.head(15)

                          local_score  stars
Jari (LotU)                      4724    128
20Koen02                         4119    110
Cipulot                          3601    100
Stanislav Sandler                3424     89
RadioactiveHydra                 3349     82
MrCrackerplays                   2765     74
Wouter de Bruijn                 2620     74
(anonymous user #989148)         2606     70
UnderKoen                        2183     60
Craft                            1774     55
ArviWasTaken                     1694     53
Migsej                           1479     45
Yohello1                          998     30
Stefan Djokovic                   898     24
BjarneVandebroek                  841     28